.log {


background: #2E3337 url("/images/smiley.png") no-repeat scroll 0 0;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 1px 1px 3px #000000;
-moz-box-shadow: 1px 1px 3px #000000;
box-shadow: 1px 1px 3px #000000;
background-color: #000000;
padding: 12px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #888888;
text-align: center;
}

.command {
	float: left;
	width: 100%;
	background-color: lightgray;
}

.run_button {
	font-size: 2em;
	background-color:cornflowerblue;
}

html {
	font-size: 1em;
	background-color: antiquewhite;
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background: var(--color-dark-variant);
}

h1 {
	margin-top: 0.4rem;
	margin-left: 1.6rem;
}

h2 {
	font-size:  1.0em;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-left: 1.6rem;
}

